body
{
    background-color:#444444;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#sidebar_left
{
    background-color:#444444;
    width:250px;
    height:100%;
    float:left;
    margin-top:50px;
}

#sidebar_right
{
    background-color:	#444444;
    width:250px;
    height:100%;
    text-align:center;
    float:right;
    margin-top: 60px;
}

#content
{
    margin-left:250px;
    margin-right:250px;
    height:100%;
    background-color:	#444444;
}


#canvas 
{     
    margin: 30px auto; 
    cursor:auto;
    background: white; 
    border-radius: 20px;
    border:1px solid #000000;
}



.bottom
{
    position: absolute;
    bottom:20px;
    right:20px;
}

#clear
{
    background-image : url('reset.jpg');
    width:100px; 
    height:100px;
    border-radius: 50%;
    cursor:pointer;
}

#pencil
{
    background-image : url('pencil.png');
    width : 100px; 
    height:100px;
    border-radius:50%;
    cursor:pointer;
}

#eraser
{
    background-image : url(eraser.png);
    width : 100px; 
    height:100px;
    border-radius:50%;
    cursor:pointer;
    margin-left:30px;
}

#wannatext
{
    background-image : url(t.png); 
    width : 100px; 
    height:100px;
    border-radius:50%;
    cursor:pointer;
}



#download
{
    background-image : url(download.png); 
    width : 100px; 
    height:100px;
    border-radius:50%;
    cursor:pointer;
    margin-left:30px;
}




#color
{
    position:absolute;
    margin-top:50px;
    margin-left:90px;
}

#choosecolor
{
    position:absolute;
    margin-top:30px;
    color:white;
    font-size:17px;
}

#brush-size
{
    position:absolute;
    margin-left:90px;
    margin-top:90px;
}

#choosesize
{
    position:absolute;
    margin-top:70px;
    font-size:17px;
    color:white;
}

#font-size
{
    position:absolute;
    margin-left: 90px;
    margin-top:130px;
}

#choosefontsize
{
    position:absolute;
    margin-top:110px;
    font-size:17px;
    color:white;
}


#font-style
{
    position:absolute;
    margin-right:10px;
    margin-top:170px;
}

#choosefontstyle
{
    position:absolute;
    margin-top:150px;
    font-size:17px;
    color:white;
}

#square
{
    background-image : url(rectangle.png); 
    width : 100px; 
    height:100px;
    border-radius:50%;
    cursor:pointer;
    margin-left:30px;
}

#circle
{
    background-image : url(circle.png); 
    width : 100px; 
    height:100px;
    border-radius:50%;
    cursor:pointer;
}

#triangle
{
    background-image : url(triangle.png); 
    width : 100px; 
    height:100px;
    border-radius:50%;
    cursor:pointer;
    margin-left:30px;
}

#undo
{
    background-image : url(undo.png); 
    width : 100px; 
    height:100px;
    border-radius:50%;
    cursor:pointer; 
}

#redo
{
    background-image : url(redo.png); 
    width : 100px; 
    height:100px;
    border-radius:50%;
    cursor:pointer;
    margin-left:30px;
}

#imageLoader
{
    position:absolute;
    margin-right:10px;
    margin-top:280px;
}

#chooseimg
{
    position:absolute;
    margin-top:260px;
    font-size:17px;
    color:white;

}